<div class="jumbotron-centered">
  <div class="container">
    <h1> Welcome to Linker </h1>
    <%= link_to "Submit a Link", new_link_path, class: "btn btn-lg btn-primary" %>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <% @links.each do |link| %>
      <%= link.votes %>
      <%= link_to link.title, link.url %>
    </div>

    <div class="col-md-4">
      <%= link_to 'Upvote', upvote_path(link) %>
      <%= link_to 'Downvote', downvote_path(link) %>
      <%= link_to 'Show link', link_path(link) %>
      <%= link_to 'Edit link', edit_link_path(link) %>
      <%= link_to 'Delete link', link, method: :delete %>
      <% end %>
    </div>
  </div>
</div>
