<h1> Post a Link </h1>
<% link_to 'New Link', new_link_path%>
  <%= form_for @links do |l| %>
    <%= l.label :title %>
    <%= l.text_field :title %>

    <%= l.label :url %>
    <%= l.text_field :url %>

    <%= l.submit "Submit" %>
  <% end %>
